*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    font-family: oswald, Arial, Helvetica, sans-serif;
    background: url(/imagenes/bg.jpg), black;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
}

header{
    position: relative;
    height: auto;
}

header .menu{
    background-color: rgba(255, 255, 255, 0.85);
    overflow: hidden;
}

header .logo{
    color: rgba(0, 0, 0, 0.85);
    float: left;
    margin-left: 1em;
    font-size: 40px;
    line-height: 80px;
}

header nav{
    float: right;
    margin-right: 4em;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
    display: block;
    font-size: 25px;
    padding: 0px 20px;
    line-height: 80px;
}

header nav ul li a:hover{
    color: white;
    background: rgba(0, 0, 0, 0.70);
}

.texto{
    position: relative;
    color: white;
    padding: 50px 0px;
    text-align: center;
    font-weight: 400;
}

.texto h2, p{
    background: rgba(0, 0, 0, 0.85);
    display: inline-block;
    padding: 10px 20px;
}

.texto h2{
    font-size: 40px;
    letter-spacing: 2.5px;
    font-weight: normal;
}

.texto p{
    font-size: 25px;
    letter-spacing: 2.5px;
}

.texto p a{
    text-decoration: none;
    color: white;
}

.texto p a:hover{
    color: black;
    background: rgba(255, 255, 255, 0.80);
}

.principal_contenedor{
    position: relative;
    color: black;
}

.sub_contenedor{
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    position: relative;
    margin-bottom: 3em;
}

.sub_contenedor p{
    margin-right: 20px;
    line-height: 24px;
    font-family: Helvetica, sans-serif;
    background: white;
}

.titulo{
    font-size: 34px;
}

form{
    width: 100%;
    margin: 0 auto;
}

textarea{
    display: block;
    width: 95%;
    margin: 0 auto;
    padding:  0 20px;
    font-size: 26px;
    border: none;
}

.botones{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

input{
    margin-bottom: 10px;
    width: 40%;
    height: 40px;
    font-size: 20px;
}

input:hover{
    cursor: pointer;
    transition: 0.3s all;
}
.encriptar{
    background-color: rgb(30, 68, 223);
    color: white;
    border: none;
    border-radius: 20px;
}

.encriptar:hover{
    background: rgb(65, 98, 232);
    color:white;
    border: 2px solid rgb(30, 68, 223);
}

.desencriptar{
    background-color:white;
    color:  rgb(30, 68, 223);
    border: 2px solid  rgb(30, 68, 223);
    border-radius: 30px;
}

.desencriptar:hover{
    background: rgb(88, 119, 246);
    color: white;
}

.pie_pagina{
    margin-top: 80px;
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.80);
    text-align: center;
}

.pie_pagina p{
    font-size: 18px;
    line-height: 80px;
    background: rgba(0, 0, 0, 0.01);
    color: rgb(255, 255, 255);
}

@media screen and (max-width:480px){

    header nav ul li a{
        font-size: 26px;
        padding: 0px 10px;
    }

    .texto h2{
        font-family: 18px;
        letter-spacing: normal;
    }

    .texto p{
        font-family: 15px;
        letter-spacing: normal;
    }

    input{
        width: 100%;
        display: block;
    }
}